:root {
    --bordes: #eff3f4;
    --azulPrimario: #1d9bf0;
    --azulPrimarioHover: #1679bb;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 0.4fr 0.9fr 0.6fr;
    grid-template-areas: "izquierda centro derecha";
}

/* Areas de CSS Grid */
#izquierda {
    grid-area: izquierda;
}
#centro {
    grid-area: centro;
    border-left: solid 2px var(--bordes);
    border-right: solid 2px var(--bordes);
}
#derecha {
    grid-area: derecha;
}

/* Tarjetas reciclables */
.tarjeta {
    margin: 1em;
    padding: 1.5rem;
    border: solid 2px var(--bordes);
    box-shadow: 0px 2px 6px var(--bordes);
    border-radius: 2em;

    h2 {
        /* Titulos */
        margin: 0;
    }

    a {
        /* Botones */
        display: block;
        margin-top: 20px;
        width: 90%;
        color: white;
        text-align: center;
        text-decoration: none;
        background: var(--azulPrimario);
        padding: 1rem;
        border-radius: 6rem;
        transition: background 0.25s;
    }

    a:hover {
        background: var(--azulPrimarioHover);
        transition: background 0.25s;
    }
}

/* Barra de Busqueda */
#busqueda > input {
    outline: 0;
    margin: 1rem;
    margin-bottom: 0px;
    padding: 1rem;
    border: solid 2px var(--bordes);
    border-radius: 6rem;
    width: 82%;
    transition: border-color 0.2s;
}

#busqueda > input:focus {
    outline: 0;
    border: solid 2px var(--azulPrimario);
    transition: border-color 0.2s;
}
