:root {
    --bordes: #eff3f4;
    --azulPrimario: #1d9bf0;
    --azulPrimarioHover: #1679bb;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 0.4fr 0.9fr 0.6fr;
    grid-template-areas: "izquierda centro derecha";
}

/* Areas de CSS Grid */
#izquierda {
    grid-area: izquierda;
}
#centro {
    grid-area: centro;
    border-left: solid 2px var(--bordes);
    border-right: solid 2px var(--bordes);
}
#derecha {
    grid-area: derecha;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Tarjetas reciclables */
.tarjeta {
    user-select: none;
    margin: 1em;
    border: solid 2px var(--bordes);
    box-shadow: 0px 2px 6px var(--bordes);
    border-radius: 1.5em;

    h2 {
        /* Titulos */
        padding: 1rem;
        padding-bottom: 0;
        margin: 0;
    }

    p {
        margin: 0;
        padding: 1rem;
        padding-bottom: 0;
    }

    a {
        /* Botones */
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        width: 25%;
        color: white;
        text-align: center;
        text-decoration: none;
        background: var(--azulPrimario);
        border-radius: 6rem;
        transition: background 0.25s;
    }

    a:hover {
        background: var(--azulPrimarioHover);
        transition: background 0.25s;
    }
}

/* Barra de Busqueda */
#busqueda > input {
    outline: 0;
    margin: 1rem;
    margin-bottom: 0px;
    padding: 1rem;
    border: solid 2px var(--bordes);
    border-radius: 6rem;
    width: 82%;
    transition: border-color 0.2s;
}

#busqueda > input:focus {
    outline: 0;
    border: solid 2px var(--azulPrimario);
    transition: border-color 0.2s;
}

/* Tarjeta de Tendencias */
#tendencia {
    ul {
        padding: 0rem;
        li {
            padding: 0.5rem;
            padding-left: 1rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            .gris {
                font-size: 0.8rem;
                color: #646464;
            }
            .negrita {
                font-weight: bold;
            }
            transition: background-color 0.2s;
        }
        li:hover {
            cursor: pointer;
            background: var(--bordes);
            transition: background-color 0.2s;
        }
    }
}
