:root {
    --bordes: #eff3f4;
    --azulPrimario: #1d9bf0;
    --azulPrimarioHover: #1679bb;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 0.4fr 0.9fr 0.6fr;
    grid-template-areas: "izquierda centro derecha";
}

/* Areas de CSS Grid */
#izquierda {
    grid-area: izquierda;
}
#centro {
    grid-area: centro;
    border-left: solid 2px var(--bordes);
    border-right: solid 2px var(--bordes);
}
#derecha {
    grid-area: derecha;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Tarjetas reciclables */
.tarjeta {
    user-select: none;
    margin: 1em;
    border: solid 2px var(--bordes);
    box-shadow: 0px 2px 6px var(--bordes);
    border-radius: 1.5em;

    h2 {
        /* Titulos */
        padding: 1rem;
        padding-bottom: 0;
        margin: 0;
    }

    p {
        margin: 0;
        padding: 1rem;
        padding-bottom: 0;
    }

    a {
        /* Botones */
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        width: 25%;
        color: white;
        text-align: center;
        text-decoration: none;
        background: var(--azulPrimario);
        border-radius: 6rem;
        transition: background 0.25s;
    }

    a:hover {
        background: var(--azulPrimarioHover);
        transition: background 0.25s;
    }
}

/* Barra de Busqueda */
#busqueda > input {
    outline: 0;
    margin: 1rem;
    margin-bottom: 0px;
    padding: 1rem;
    border: solid 2px var(--bordes);
    border-radius: 6rem;
    width: 82%;
    transition: border-color 0.2s;
}

#busqueda > input:focus {
    outline: 0;
    border: solid 2px var(--azulPrimario);
    transition: border-color 0.2s;
}

/* Tarjeta de Tendencias */
#tendencia {
    ul {
        padding: 0rem;
        li {
            padding: 0.5rem;
            padding-left: 1rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            .gris {
                font-size: 0.8rem;
                color: #646464;
            }
            .negrita {
                font-weight: bold;
            }
            transition: background-color 0.2s;
        }
        li:hover {
            cursor: pointer;
            background: var(--bordes);
            transition: background-color 0.2s;
        }
    }
}

#izquierda {
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    #icono {
        width: 50px;
        height: 50px;
        background-color: black;
        mask: url(./../img/logo.svg) no-repeat center/contain;
        mask-size: contain;
    }
    /* Cinta de Opciones */
    ul {
        padding: 0;
        list-style: none;
        li {
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 35px 0px 0px 35px;
            transition: background-color 0.2s;
            span {
                font-size: 1.4rem;
            }
            span::before {
                content: "";
                display: inline-block;
                width: 60px;
                height: 40px;
                vertical-align: middle;
                background-color: black;

                mask-size: contain;
            }
            #home::before {
                mask: url(./../img/others/home.svg) no-repeat center/contain;
            }
            #lupa::before {
                mask: url(./../img/others/lupa.svg) no-repeat center/contain;
            }
            #notificaciones::before {
                mask: url(./../img/others/campana.svg) no-repeat center/contain;
            }
            #mensajes::before {
                mask: url(./../img/others/mensajes.svg) no-repeat center/contain;
            }
            #grokIzquierda::before {
                mask: url(./../img/grok.svg) no-repeat center/contain;
            }
            #perfil::before {
                mask: url(./../img/others/usuario.svg) no-repeat center/contain;
            }
            #opciones::before {
                mask: url(./../img/others/opciones.svg) no-repeat center/contain;
            }
        }
        li:hover {
            background-color: var(--bordes);
            transition: background-color 0.2s;
        }
    }
}

#centro > nav {
    border-bottom: solid 2px var(--bordes);
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            width: 50%;
            height: 50px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.2s;
            span {
                text-align: center;
            }

            #ParaTi::after {
                content: "";
                display: block;
                width: 80px;
                height: 4px;
                transform: translateY(15px);
                border-radius: 25px;
                background: var(--azulPrimario);
            }
        }
        li:hover {
            cursor: pointer;
            background: var(--bordes);
            transition: background-color 0.2s;
        }
    }
}

#postear {
    border-bottom: solid 2px var(--bordes);
    height: 120px;
    padding: 20px;
    display: flex;
    div > img {
        /* Foto de Perfil */
        width: 60px;
    }
    #postFormulario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        input {
            /* Que esta pasando */
            width: 98%;
            height: 20px;
            font-size: 1.5rem;
            padding: 8px 0px 15px 0px;
            border: none;
            outline: none;
        }
        #privacidad {
            color: var(--azulPrimario);
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        #privacidad::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background-color: currentColor;
            mask: url(./../img/planeta.svg) no-repeat center/contain;
            mask-size: contain;
        }
        /* Botones de post */
        #botones {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                gap: 5px;
                a {
                    width: 25px;
                    height: 25px;
                    background-size: 90%;
                }
                #imagen {
                    background-color: var(--azulPrimario);
                    mask: url(./../img/imagen.svg) no-repeat center/contain;
                    mask-size: contain;
                }
                #gifs {
                    background-color: var(--azulPrimario);
                    mask: url(./../img/gifs.svg) no-repeat center/contain;
                    mask-size: contain;
                }
                #grok {
                    background-color: var(--azulPrimario);
                    mask: url(./../img/grok.svg) no-repeat center/contain;
                    mask-size: contain;
                }
                #opciones {
                    background-color: var(--azulPrimario);
                    mask: url(./../img/encuestas.svg) no-repeat center/contain;
                    mask-size: contain;
                }
                #emoji {
                    background-color: var(--azulPrimario);
                    mask: url(./../img/emoji.svg) no-repeat center/contain;
                    mask-size: contain;
                }
                #fecha {
                    background-color: var(--azulPrimario);
                    mask: url(./../img/fecha.svg) no-repeat center/contain;
                    mask-size: contain;
                }
                #ubicacion {
                    background-color: var(--azulPrimario);
                    mask: url(./../img/ubicacion.svg) no-repeat center/contain;
                    mask-size: contain;
                }
            }
            #botonpostear {
                text-decoration: none;
                background-color: black;
                color: white;
                border-radius: 35px;
                width: 90px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
